<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", href="assets/icons/favicon.ico", type="image/x-icon")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="css/styles.css")
    title Social Media Dashboard
  body
    script(src="js/scripts-min.js")