-
  const socialNetworks = [
    {
      title: "facebook",
      icon: "icon-facebook.svg",
      user: "@nathanf",
      number: "1987",
      text: "FOLLOWERS",
      todayIcon: "icon-up.svg",
      today: "12"
    },
    {
      title: "twitter",
      icon: "icon-twitter.svg",
      user: "@nathanf",
      number: "1044",
      text: "FOLLOWERS",
      todayIcon: "icon-up.svg",
      today: "99"
    },
    {
      title: "instagram",
      icon: "icon-instagram.svg",
      user: "@nathanf",
      number: "11k",
      text: "FOLLOWERS",
      todayIcon: "icon-up.svg",
      today: "1099"
    },
    {
      title: "youtube",
      icon: "icon-youtube.svg",
      user: "@nathanf",
      number: "8239",
      text: "FOLLOWERS",
      todayIcon: "icon-down.svg",
      today: "144"
    }
  ]

-
  const overviews = [
    {
      network: "facebook",
      icon: "icon-facebook.svg",
      title: "Page Views",
      quantity: "87",
      todayIcon: "icon-up.svg",
      number: "3%"
    },
    { 
      network: "facebook",
      icon: "icon-facebook.svg",
      title: "Likes",
      quantity: "52",
      todayIcon: "icon-down.svg",
      number: "2%"
    },
    {
      network: "instagram",
      icon: "icon-instagram.svg",
      title: "Likes",
      quantity: "5462",
      todayIcon: "icon-up.svg",
      number: "2257%"
    },
    { 
      network: "instagram",
      icon: "icon-instagram.svg",
      title: "Profile Views",
      quantity: "52k",
      todayIcon: "icon-up.svg",
      number: "1375%"
    },
    {
      network: "twitter",
      icon: "icon-twitter.svg",
      title: "Retweets",
      quantity: "117",
      todayIcon: "icon-up.svg",
      number: "303%"
    },
    { 
      network: "twitter",
      icon: "icon-twitter.svg",
      title: "Likes",
      quantity: "507",
      todayIcon: "icon-up.svg",
      number: "553%"
    },
    {
      network: "youtube",
      icon: "icon-youtube.svg",
      title: "Likes",
      quantity: "107",
      todayIcon: "icon-down.svg",
      number: "19%"
    },
    { 
      network: "youtube",
      icon: "icon-youtube.svg",
      title: "Total Views",
      quantity: "1407",
      todayIcon: "icon-down.svg",
      number: "12%"
    }
  ]